@model ApplicationCore.Models.PurchaseDetailsResponseModel

@{
    ViewData["Title"] = "PurchaseDetails";
}

<h1>PurchaseDetails</h1>

<div>
    @Model.PurchaseDateTime
    @Model.PurchaseNumber
</div>


