<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand">CabsBookingSPA</a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="#">Dashboard </a>
                </li>
                
                <li>
                    <a class="nav-link text-dark" [routerLink]="['/Places']">Places</a>
                </li>

                <li>
                    <a class="nav-link text-dark" [routerLink]="['/BookingHistories']">Booking History</a>
                </li>
            </ul>
        </div>
    </div>

</nav>